html {
	height: 100%;
}

body {
	padding: 2rem;
	background-color: #e8e8e8;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 60% 40%;
	background-attachment: fixed;
}

@media all and (min-width: 62rem) {
	body {
		background-image: url("../img/mathieu.jpg");
	}
}

.namecard {
	background: #3470c9;
	width: calc(100vw - 4rem);
	border-radius: 5px;
	box-shadow: 0.25rem 0.25rem 2rem 0 rgba(50, 50, 50, 0.54);
	position: relative;
}
@media all and (min-width: 62rem) {
	.namecard {
		width: 26rem;
		margin-left: calc(50vw - 26rem);
		top: 50%;
	}
}

header {
	padding: 1.2rem 1.2rem 0.25rem;
	background: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

header img {
	width: 4rem;
	float: left;
	margin-right: 1rem;
}

h1 {
	color: #3470c9;
	margin: 0 0 2px;
	font-size: 2rem;
	font-weight: 900;
	line-height: 1.1;
	margin-top: -2px;
	margin-bottom: 0.5rem;
}

h2 {
	margin: 0 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
}

.contact {
	color: #FFF;
	padding: 1.2rem 1.2rem 3rem;
	font-size: 1rem;
	line-height: 1.5;
	position: relative;
	list-style: none;
	margin: 0;
}


.contact li {
	position: relative;
	padding-left: 2.2rem;
	margin-bottom: 0.4rem;
	word-break: break-word;

}

.contact .icon {
	margin-right: 1.2rem;
	width: 1rem;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.contact a {
	color: #FFF;
	text-decoration: none;
}

.contact a:hover {
	text-decoration: underline;
}

.extra-links {
	position: absolute;
	top: 0.25rem;
	right: 2%;
}

.extra-links a {
	text-decoration: none;
	padding: 0.25rem 0.5rem;
	color: #FFF;
	background: #3470c9;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.extra-links a:hover {
	color: #3470c9;
	background: #FFF;
}

@media all and (min-width: 62rem) {
	header img {
		display: none;
	}

	.contact {
		color: #FFF;
		padding: 20px;
		font-size: 18px;
	}
}

a.resume {
	position: absolute;
	background: #FFF;
	color: #3470c9;
	padding: 0.2rem 0.5rem;
	line-height: 1.75;
	bottom: 0;
	right: 2rem;
}